name: liquibase-pipeline

on:
  push:

jobs:
  liquibase-pipeline:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Liquibase
        run: |
          wget https://github.com/liquibase/liquibase/releases/download/v4.28.0/liquibase-4.28.0.zip
          unzip liquibase-4.28.0.zip
          sudo mv liquibase /usr/local/bin/liquibase

      - name: Check Liquibase Version
        run: liquibase --version

      - name: Validate changesets
        run: liquibase validate
        env:
          LIQUIBASE_URL: ${{ secrets.QA_JDBC_URL }}
          LIQUIBASE_USERNAME: ${{ secrets.QA_DB_USER }}
          LIQUIBASE_PASSWORD: ${{ secrets.QA_DB_PASS }}

      - name: Deploy to QA
        run: liquibase update
        env:
          LIQUIBASE_URL: ${{ secrets.QA_JDBC_URL }}
          LIQUIBASE_USERNAME: ${{ secrets.QA_DB_USER }}
          LIQUIBASE_PASSWORD: ${{ secrets.QA_DB_PASS }}
